button{
    background-color: #4169e1;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.complete{
    background-color: #5adbb5;
}

.remove{
    background-color: #f34336;
}

button:hover{
    opacity:1;
}