body{
  font-family: Arial;
  background-color: f4f4f4;
  padding: 30px;
  color: #333;
  background: radial-gradient(circle at 10% 20%, rgb(0, 102, 161) 0%, rgb(0, 68, 108) 90.1%);
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 30px 20px;
  border-radius: 10px;
}

h1{
  text-align: center;
}
h2{
 margin-bottom: 10px 0;
}

p{
  margin: 10px 0;
}
input{
  box-sizing: border-box;
}
input{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  
}
select{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}